@import "variables";

//reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $light-background;
  font-family: $font-stack;
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

// Utility
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

%btn-shared {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 22px;
  padding: 0.5rem 1.5rem;
}

.btn {
  &-dark {
    @extend %btn-shared;
    background: $primary-color;
    color: #fff;

    &:hover {
      transition: all 0.35s ease 0s;
      background: $primary-color-dark;
    }
  }

  &-text {
    @extend %btn-shared;
    color: $primary-color;

    &:hover {
      transition: all 0.35s ease 0s;
      color: $primary-color-dark;
    }
  }
}

.bold {
  font-weight: 700;
}

.text-light-color {
  color: $light-grey-text;
}
.text-primary-color {
  color: $primary-color;
}

// navbar
nav {
  height: 50px;
  background: #fff;
  position: sticky;
  top: 0px;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    #nav-logo-container {
      display: flex;
      align-items: baseline;

      h3 {
        padding-right: 1rem;
      }
    }

    #nav-menu-container {
      display: flex;

      li {
        padding: 0 1rem;
      }
    }
  }
}

// header
header {
  height: calc(100vh - 50px);
  position: relative;

  & > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 150px;
    height: 100%;

    .intro-text-container {
      margin-top: 200px;
      padding-right: 2rem;

      .text-primary-color {
        font-weight: 500;
      }

      h1 {
        font-size: 3rem;
      }

      #intro-description {
        font-size: 16px;
        margin-top: 30px;
        color: $dark-grey-text;
      }

      .buttons-container {
        margin-top: 20px;
      }
    }

    .intro-img {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .portrait-container {
      width: 400px;
      height: 400px;
      position: relative;

      > * {
        width: 100%;
        height: 100%;
        transition: all 0.33s ease;
      }

      .portrait {
        background-image: radial-gradient(
            rgba(255, 143, 184, 0) 50%,
            $primary-color 100%
          ),
          url("../img/mj_portrait.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }

      .portrait-circle-overlay-1 {
        position: absolute;
        top: -5px;
        left: -8px;
        background-image: radial-gradient(
          rgba(255, 143, 184, 0) 50%,
          $primary-color 100%
        );
        background-size: cover;
        border-radius: 100%;
        opacity: 0.5;
      }

      .portrait-circle-overlay-2 {
        position: absolute;
        top: -1px;
        left: -1px;
        background-image: radial-gradient(
          rgba(255, 143, 184, 0) 50%,
          $primary-color 100%
        );
        background-blend-mode: overlay;
        background-size: cover;
        border-radius: 100%;
        opacity: 0.15;
      }

      &:hover {
        .portrait {
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
        }

        .portrait-circle-overlay-1 {
          top: -20px;
          left: -22px;
          opacity: 0.75;
        }

        .portrait-circle-overlay-2 {
          top: -1px;
          left: -40px;
          opacity: 0.25;
        }
      }
    }

    .logo-container {
      grid-column: 1 / span 2;
      display: flex;
      justify-content: center;

      .company-logo {
        display: inline-block;
        max-width: 120px;
        max-height: 64px;
        object-fit: scale-down;
        margin: 0 1rem;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        transition: all 0.35s ease 0s;

        &:hover {
          -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);
        }
      }
    }
  }
}

#about {
  height: 100vh;
  background: #c4ac8c;

  .container {
    display: flex;
    height: 100%;

    > * {
      width: 50%;
    }

    .illustration-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 1rem;

      img {
        max-width: 100%;
      }
    }

    .about-text-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 1rem;

      h2 {
        margin-bottom: 1.5rem;
      }
    }
  }
}

#education {
  height: 100vh;
  background: teal;
}

#work {
  height: 100vh;
  background: red;
}

#contact {
  height: 100vh;
  background: grey;
  display: flex;

  .container > * {
    width: 50%;
  }

  form {
    display: flex;
    direction: column;
  }
}

footer {
  height: 50px;
  background-color: black;
  color: $light-grey-text;
  display: flex;
  justify-content: center;
  align-items: center;
}
